<style type="text/css"> /*despite the errors it works I swear*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

form{
    margin:auto;
    padding-right: 10px;
    margin-right: 10px;
    font-family:courier;
    font-size:12px;
}


input[type=text] {
    width: 15%;
    max-width:200px;
    height:3%;
    border: 2px solid lightgrey;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}
input[type=text]:focus {
    width: 25%;
    max-width:25%;


}
input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


select {
    width: 25%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: darkred;
    border: 2px darkred solid;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: white;
    font-weight: bold;
    border: 2px darkred solid;
    color: darkred;
}

#grey {
    background-color:lightgrey;
} /*despite the errors it works I swear*/

#white{
    background-color:lightblue;
}
div {
    font-family: 'Roboto';
    width: 100%;
    border-radius:10px;
    margin-bottom: 15px;
    margin-top: 5px;
    position:absolute;
}

#titlebar {
    font-family: 'Roboto';
    border-radius:12px;
    text-align: center;
    width: 70%;
    height:280px;
    margin-top: -280px;
    margin-right:40px;
    position:static;
    background-color:lightblue;
    float:right;
}
div h2{
    font-family:courier;
    font-size:18px;
}
div h4{
    padding-left:10px;
    color:darkred;
    font-family: courier;
    font-size:1em;
}
div p{
    padding-left:10px;
    margin-top:-10px;
    padding-bottom: 10px;
    font-family:courier;
    font-size:.8em
}
div span{
    color:white;
    float:right;
    margin-right:4%;
}


div.polyDBbutton{
    width:30%;
    background-color: darkred;
    border: 2px darkred solid;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    position:absolute;
    margin-left:20%;
    margin-top:20px;
    height:60px;
    text-align:center;
    vertical-align: center;
    line-height: 60px;
}
div.polyDBbutton:hover{
    width:30%;
    background-color: lightblue;
    border: 2px darkred solid;
    color: darkred;
    font-weight:bold;

}

</style>